.banner{
  height: 550px;
  background-size: cover;
  background-position: center;
  padding-top: 220px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  @include mobile(){
    height:440px;
    padding-top:120px;
    padding-left:20px;
    padding-right:20px;
  }
  &-visible{
    display: block;
  }
  &-seccion{
    height: 520px;
    padding-top: 180px;
  }
}