.btn-ghost{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 10px 35px;
  color: #fff;
  font-family: $ff-titles;
  text-transform: uppercase;
  &:hover{
    background-color: #fff;
  }
}

.btn-big-green{
  color: #fff;
  background-color: $color-verde;
  border-radius: 15px;
  text-align: center;
  padding: 18px 40px;
  @include mobile(){
    white-space: normal;
    margin: 10px 0;
    padding: 12px;
  }
  &:hover{
    color: lighten($color-verde-variante, 50%);
    background-color: $color-verde-variante;
  }
}