.calendar{
  margin: 15px 0;
  padding: 15px 0;
  border-top: 1px solid $gray-lighter;
  @include mobile{
    padding: 15px;
  }

  @include tablet{
    padding: 15px;
  }

  &-month{
    background-color: $color-verde;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0;
  }
  &-date{
    border: 3px solid $color-verde;
    display: inline-block;
    width: 83px;
    text-align: center;
    font-size: $fz-xl;
    padding: 8px 0;
  }
  &-info{
    padding: 0 15px;
  }
}