.container-wrapper{
  padding: 70px 0 0 0;
}

.container{
  &-xs{
    padding: 10px 0;
  }
  &-s{
    padding: 15px 0;
  }
  &-m{
    padding: 25px 0;
  }
  &-l{
    padding: 45px 0;
  }
  &-xl{
    padding: 70px 0;
  }
  &-xxl{
    padding: 114px 0;
  }
}

.container-sides{
  &-xs{
    padding-left: 10px;
    padding-right: 10px;
  }

  &-s{
    padding-left: 15px;
    padding-right: 15px;
  }
  &-m{
    padding-left: 25px;
    padding-right: 25px;
  }
  &-l{
    padding-left: 45px;
    padding-right: 45px;
  }
  &-xl{
    padding-left: 70px;
    padding-right: 70px;
  }
  &-xxl{
    padding-left: 220px;
    padding-right: 220px;
  }
  &-xxxl{
    padding-left: 320px;
    padding-right: 320px;
  }
}

.container-offsets{
  &-top{
    margin-top:-130px;
  }
}



