.header{
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 10;
  width: 100%;
  @include mobile(){
    background-color: rgba(0,0,0,.8);
  }
  @include tablet(){
    background-color: rgba(0,0,0,.6);
  }
}

.header-social{
  display: inline-block;
  font-size: 22px;
  padding:20px 10px;
  color: #fff;
}

.header-logo{
  position: absolute;
  margin: 5px 30px;
  img{
    height: 96px;
    transition: all .1s linear;
  }
  @include mobile(){
    position: static;
    margin: 5px;
    img{
      height: 50px;
      display: inline-block;
      margin: 8px 5px;
    }
  }
}

.header-menu{
  display: inline-block;
  text-align: right;
  width: 100%;
  @include mobile(){
    position: absolute;
    display: block;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 103;
  }
  &__item{
    display: inline-block;
    position: relative;
    padding: 5px 0;
    @include mobile(){
      display: block;
      text-align: center;
    }
    @include tablet{
      display: block;
      text-align: center;
    }
  }
  &__sub-items{
    text-align: left;
    position: absolute;
    left: 0;
    top: 100%;
    width: 290px;
    background-color: rgba(0,0,0,.5);
    padding: 10px 10px;
    display: none;
    @include mobile(){
      width: 100%;
      position: static;
    }
    @include tablet{
      width: 100%;
      position: static;
    }
  }
  &-mobile{
    position: relative;
    display: none;
  }
}
.header-menu__link,.header-menu__sub-link{
  display: inline-block;
  font-size: $fz-base;
  color: white;
  text-decoration: none;
  padding: 5px 0;
  margin: 15px;
  text-transform: uppercase;
  transition: all .2s linear;
  border-bottom: 3px solid rgba(0,255,0,0);
  font-weight:300;
  font-family: $ff-titles;
  .icon{
    margin: 0 5px 0 0;
  }
  &:hover{
    color: darken($gray-light, 5%);
    border-bottom-color: rgba($color-verde,1);
  }
  &:active,&:focus,&:visited{
    text-decoration: none;
    color: white;
  }
}
.header-menu__sub-link{
  margin: 5px;
  @include mobile(){
    display: block;
    text-align: center;
  }
  @include tablet(){
    display: block;
    text-align: center;
  }
}


//** hamburguer mobile menu
.header-menu-hide{
  display: none;
}
.header-menu{
  &-burguer{
    display: inline-block;
    float: right;
    width: 30px;
    margin: 15px;
    &-meet,&:after, &:before{
      content: ' ';
      display: block;
      margin: 3px 0 4px ;
      width: 100%;
      height: 5px;
      background-color: #fff;
      border-radius: 2px;
    }
  }


}