.nivel-link{
  position: relative;
  display: inline-block;
  width: 100%;
  &:hover{
    .nivel-link-over{
      padding-left: 60px;
      width: 100%;
    }
  }
  &-over{
    position: absolute;
    left: 0;
    width: 65%;
    height: 100%;
    text-align: left;
    color: #fff;
    font-size: $fz-xl;
    padding: 43px;
    font-family: $ff-titles;
    transition: all .2s linear;
    @include mobile(){
      width: 100%;
    }
    @include tablet(){
      padding: 23px;
      width: 100%;
    }
  }
  img{
    width: 100%;
  }
}
.nivel-bg{
  &-inicial{
    background-color: rgba($color-naranja,.9);
  }
  &-primario{
    background-color: rgba($color-verde, .9);
  }
  &-secundario{
    background-color: rgba($color-azul,.9);
  }
}


.nivel-ficha{
  display: inline-block;
  margin-bottom:-17%;
}

.nivel-ficha__title {
  @include mobile(){
    margin: 35px 0 0 0;
  }
}

.niveles-objetivos-container{
  padding: 0 40px 0 60px;
  @include mobile(){
    padding: 0 10px;
  }
}

.nivel-icon{
  font-size: 61px;
  @include mobile(){
    font-size:33px;
  }
}