.clear-col{
  padding-left: 0;
  padding-right: 0;
}

.float-col{
  display: block;
  float: left;
  &__block{
    overflow: hidden;
  }
}

.logo-list{
  display: inline-block;
  width: 100%;
  text-align: center;
  img{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 5px;
    @include mobile(){
      margin: 0;
      width: 40%;
    }
    @include desktop(){
      &.logo-separate-more{
        margin: 5px 30px;
      }
    }

  }
}

.img-offset{
  display: inline-block;
  margin-top: -12%;
}

//=== generic

a,button,input[type="button"]{
  transition: all .2s linear;

  color: $color-verde-variante;
  &:hover,&:focus{
    color: darken($color-verde-variante, 10%);
    text-decoration: none;
  }
}

//== parallaxy

[data-parallaxy] {
  position: relative;
  overflow: hidden;
}

[data-parallaxy] > *:not([data-parallaxy-ignore]) {
  position: absolute;
  display: block;
  top: 0;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

[data-parallaxy-ignore] {
  position: relative;
}


//== rewrite rows

@include mobile(){
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  br{
    display: none;
  }
}

.ideario-logo{
  width: 129px;
  @include mobile(){
    width: 170px;
  }
}

.contact-icon{
  @include mobile(){
    padding-top:10px;
  }
}

.admisiones-logo{
  @include mobile(){
    margin-top: -252px;
  }
}


@include mobile{
  .clear-cols-xs{
    [class*='col-']{
      padding-left: 0;
      padding-right: 0;
    }
  }
}


@include tablet{
  .clear-cols-sm{
    [class*='col-']{
      padding-left: 0;
      padding-right: 0;
    }
  }
}

body,html{
  overflow-x: hidden;
}
