// == Colores
$color-verde: #115f2e;
$color-verde-variante: #1d743d;
$color-verde-light: #9cc2aa;
$color-naranja: #fcb247;
$color-azul: #17235e;
$color-crema: #edeada;
$gray-lightest: #f5f5f5;
$gray-light: #d5d5d5;
$gray-lighter: #e4e4e4;
$gray: #8b8b8b;

// == Font Sizes
$fz-s: 12px;
$fz-base:  14px;
$fz-l: 16px;
$fz-larger: 24px;
$fz-xl: 28px;
$fz-mxl: 39px;
$fz-extra-large: 45px;
$fz-xxl: 56px;
$fz-extra-larger: 65px;
$fz-xxxl: 71px;

//== Font Family
$ff-base:  'Montserrat', sans-serif;
$ff-titles:  'Vollkorn', serif;

//medidas para responsive
$mobile-width-min: 320px;
$mobile-width-max: 540px;

$tablet-width-min: 540px;
$tablet-width-max: 1024px;

$desktop-width-min: 1024px;
$desktop-width-max: 1280px;

$wide-width-min: 1280px;
$wide-width-max: 1920px;